<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <h1 class="mt-4 text-2xl font-bold">I'm Tired (But I Just Can't Sleep)</h1>

      <p class="mt-4 whitespace-pre-wrap hidden" id="cp">
At the end of the [F]day, [C] [G] when you turn out the light [F] [C] [G]
as you drift off to [F]sleep [C] [G] and your burdens take [F]flight [C] [G]

you [Am]might feel a [Bb]moment of [F]it’s going to [C]be okay
but [Am]if you’re like [Bb]me then [F]you might just [G7]say

CHORUS:
I’m [F]tired, [C] [G] but I just can’t [F]sleep. [C] [G]
I could almost [F]weep but I [C]don’t have the [G]energy.
[F]Come now [C] and [G]sing it with me. x2

when you’re laying aw[F]ake [C] [G] and you’re feeling a[F]lone [C] [G]
it can seem like a [F]curse [C] [G] that is solely your [F]own [C] [G]

but [Am]know that I’m [Bb]out there, [F]I’ve been there just like [C]you
if [Am]it brings you [Bb]comfort [F] you can sing it [G7]too

CHORUS

with the rolling of [F]night [C] [G] as our planet spins [F]round [C] [G]
if you listen real [F]close [C] [G] you just might hear the [F]sound [C] [G]

of a [Am]chorus of [Bb]millions [F] who share this [C]burden too
and [Am]they’re out there [Bb]singing [F] like me and [G7]you [C/G] [G7]

CHORUS (repeat a few times)
      </p>

      <p class="mt-4 whitespace-pre" id="cp-output">
      </p>

    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
