<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <h1 class="mt-4 text-2xl font-bold">Set List</h1>

      <table class="table-auto w-full border-collapse border border-gray-400 my-4">
        <thead>
          <tr class="bg-gray-100">
            <th class="border border-gray-400 px-4 py-2 text-left">Title</th>
            <th class="border border-gray-400 px-4 py-2 text-left">Instrumentation</th>
            <th class="border border-gray-400 px-4 py-2"></th> <!-- PDF -->
            <th class="border border-gray-400 px-4 py-2"></th> <!-- HTML -->
            <th class="border border-gray-400 px-4 py-2 text-left">Audio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border px-4 py-2">Easy To Be Free</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="easy-to-be-free.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Blue Food</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="blue-food.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">A You're Adorable</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="a-youre-adorable.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">My Dame Had a Lame Tame Crane</td>
            <td class="border px-4 py-2 bg-yellow-50">Duo only</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="my-dame.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Who's Pigs Be These</td>
            <td class="border px-4 py-2 bg-yellow-50">Duo only</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="whos-pigs.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">The Green Grass Grew All Around</td>
            <td class="border px-4 py-2 bg-yellow-50">Duo only?</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="the-green-grass.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Be Kind To You</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="/pdf/be-kind.pdf">PDF</a></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">The Manatee Song</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="/pdf/manatee.pdf">PDF</a></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="manatee.html">HTML</a></td>
            <td class="border px-4 py-2">
              <audio controls>
                <source src="/audio/2025-07-06-manatee.m4a" type="audio/mpeg" />
              </audio>
            </td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Space Cats</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="/pdf/space-cats.pdf">PDF</a></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="space-cats.html">HTML</a></td>
            <td class="border px-4 py-2">
              <audio controls>
                <source src="/audio/2025-07-06-space-cats.m4a" type="audio/mpeg" />
              </audio>
            </td>
          </tr>
          <tr>
            <td class="border px-4 py-2">The Duck and the Kangaroo</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="duck-and-kangaroo.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Down by a Castle</td>
            <td class="border px-4 py-2 bg-yellow-50">Duo only</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="down-by-a-castle.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">I'm Tired (But I Just Can't Sleep)</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="/pdf/cant-sleep.pdf">PDF</a></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="cant-sleep.html">HTML</a></td>
            <td class="border px-4 py-2">
              <audio controls>
                <source src="/audio/2025-07-06-tired.m4a" type="audio/mpeg" />
              </audio>
            </td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Green Goo</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="green-goo.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">King of the Road</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">The Fox</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="the-fox.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <tr>
            <td class="border px-4 py-2">Hope Machine</td>
            <td class="border px-4 py-2 bg-blue-50">Full band</td>
            <td class="border px-4 py-2"></td>
            <td class="border px-4 py-2"><a class="text-blue-500" href="hope-machine.html">HTML</a></td>
            <td class="border px-4 py-2"></td>
          </tr>
        </tbody>
      </table>

      <h1 class="mt-4 text-2xl font-bold">Holding Bin</h1>

      <ul class="list-disc m-4">
        <li><a class="text-blue-500" href="new-friend.html">New Friend</a></li>
        <li>
          <a class="text-blue-500" href="hey-little-raspberry.html"
            >Hey Little Raspberry</a
          >
        </li>
        <li><a class="text-blue-500" href="undo.html">Undo</a></li>
      </ul>

      <h1 class="mt-4 text-2xl font-bold">Bits</h1>

      <ul>
        <li>
          <a class="text-blue-500" href="distortion.html"
            >The Distortion Lesson</a
          >
        </li>
        <li>
          <a class="text-blue-500" href="tuning-troubles.html"
            >Tuning Troubles</a
          >
        </li>
      </ul>

      <h1 class="mt-4 text-2xl font-bold">Other</h1>
      <ul>
        <li>
          <a class="text-blue-500" href="jeckyandbonathan.html"
            >Jecky & Bonathan</a
          >
        </li>
      </ul>

      <div class="float-right px-2 pb-1" id="qrcode"></div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
