<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <div class="float-right px-2 pb-1" id="qrcode"></div>

      <ul class="list-disc m-4">
        <li><a class="text-blue-500" href="undo.html">Undo</a></li>
        <li><a class="text-blue-500" href="manatee.html">The Manatee Song</a></li>
        <li><a class="text-blue-500" href="cant-sleep.html">I'm Tired (But I Just Can't Sleep)</a></li>
        <li><a class="text-blue-500" href="green-goo.html">Green Goo</a></li>
        <li><a class="text-blue-500" href="hey-little-raspberry.html">Hey Little Raspberry</a></li>
        <li><a class="text-blue-500" href="blue-food.html">Blue Food</a></li>
        <li><a class="text-blue-500" href="the-green-grass.html">The Green Grass Grew All Around</a></li>
        <li><a class="text-blue-500" href="the-fox.html">The Fox</a></li>
      </ul>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
