<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <div class="float-right px-2 pb-1" id="qrcode"></div>

      <h1 class="mt-4 text-2xl font-bold">Set List</h1>

      <ol class="list-decimal m-4">
        <li><a class="text-blue-500" href="easy-to-be-free.html">Easy To Be Free</a></li>
        <li><a class="text-blue-500" href="manatee.html">The Manatee Song</a></li>
        <li><a class="text-blue-500" href="the-green-grass.html">The Green Grass Grew All Around</a></li>
        <li><a class="text-blue-500" href="the-fox.html">The Fox</a></li>
        <li><a class="text-blue-500" href="blue-food.html">Blue Food</a></li>
        <li><a class="text-blue-500" href="a-youre-adorable.html">A You're Adorable</a></li>
        <li>Be Kind To You</li>
        <li>King of the Road</li>
        <li><a class="text-blue-500" href="cant-sleep.html">I'm Tired (But I Just Can't Sleep)</a></li>
        <li><a class="text-blue-500" href="hope-machine.html">Hope Machine</a></li>
        <li><a class="text-blue-500" href="new-friend.html">New Friend</a></li>
        <li><a class="text-blue-500" href="space-cats.html">Space Cats</a></li>
        <li><a class="text-blue-500" href="down-by-a-castle.html">Down by a Castle</a></li>
        <li><a class="text-blue-500" href="whos-pigs.html">Who's Pigs Be These</a></li>
        <li><a class="text-blue-500" href="my-dame.html">My Dame Had a Lame Tame Crane</a></li>
        <li><a class="text-blue-500" href="duck-and-kangaroo.html">The Duck and the Kangaroo</a></li>
      </ol>

      <h1 class="mt-4 text-2xl font-bold">Maybe Later</h1>

      <ul class="list-disc m-4">
        <li><a class="text-blue-500" href="green-goo.html">Green Goo</a></li>
        <li><a class="text-blue-500" href="hey-little-raspberry.html">Hey Little Raspberry</a></li>
        <li><a class="text-blue-500" href="undo.html">Undo</a></li>
      </ul>

      <h1 class="mt-4 text-2xl font-bold">Bits</h1>

      <ul>
        <li><a class="text-blue-500" href="distortion.html">The Distortion Lesson</a></li>
        <li><a class="text-blue-500" href="tuning-troubles.html">Tuning Troubles</a></li>
      </ul>

      <h1 class="mt-4 text-2xl font-bold">Other</h1>
      <ul>
        <li><a class="text-blue-500" href="jeckyandbonathan.html">Jecky & Bonathan</a></li>
      </ul>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
