<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
    <div class="float-right px-2 pb-1"><button id="scroll" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Scroll</button></div>
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <h1 class="mt-4 text-2xl font-bold">Manatee Song</h1>
      <p class="mt-4 whitespace-pre-wrap hidden" id="cp">
[D]Floating through the [G]mangrove leaves, [D]friendly manatee
You [B7]don't look [Em7]much like a [A7]cow to [D]me.
[D]With your funny [G]paddle tail [D]one can see you're [G]not a whale
[B7]so now [Em7]tell me just what [A7]can you [D]be?

CHORUS:
[G]Manatee, [G#dim]Mana-tee-ee. [D]We need a [B7]plan you see
be[Em7]fore there is no [A7]manatee no [D]more. [A7]

[D]In a river [G]or the sea [D]you're as happy [G]as can be
[B7]just so [Em7]long as the [A7]water's [D]warm
[D]Swimming threw the [G]ocean blue [D]looking for some [G]leaves to chew
there's [B7]no mis[Em7]taking your cur[A7]vaceous [D]form.

CHORUS

BRIDGE 1:
[Em7] The Atlantic is [A7]where you'll see [Em7] the lovely [A7]manatee
[F#m7]in the Pacific they [B7]don't belong
[Em7] that's the home of their [A7]cousin the dugong.

[D]Boating is a [G]lot of fun, we [D]all enjoy the [G]waves and sun
there's [B7]just one [Em7]thing I ask be[A7]fore you [D]go.
[D]Anywhere where [G]you could see a [D]gently grazing [G]manatee
[B7]do like [Em7]they do take it [A7]nice and [D]slow.

CHORUS

BRIDGE 2:
[Em7] When considering the [A7]family tree [Em7] of the dulong and [A7]manatee
[Em7] no creature [B7]of the sea is as [Em7]relevant
as their [A7]cousin the elephant.

CHORUS

[C7] [G]Manatee, [G#dim]Mana-tee-ee. [D]We need a [B7]plan you see
be[Em7]fore there is no [A7]manatee, be[Em7]fore there is no [B7]manatee,
be[Em7]fore there is no [A7]manatee no more. [C6]

      </p>

      <p class="mt-4 whitespace-pre" id="cp-output">
      </p>

      <div class="px-2 pb-1" id="qrcode"></div>

    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
