<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <h1 class="mt-4 text-2xl font-bold">Manatee Song</h1>

      <p class="mt-4 whitespace-pre-wrap hidden" id="cp">
[C]Floating through the [F]mangrove leaves, [C]friendly manatee
You [A7]don't look [Dm7]much like a [G7]cow to [C]me.
[C]With your funny [F]paddle tail [C]one can see you're [F]not a whale
[A7]so now [Dm7]tell me just what [G7]can you [C]be?

CHORUS:
[F]Manatee, [F#dim]Mana-tee-ee. [C]We need a [A7]plan you see
be[Dm7]fore there is no [G7]manatee no [C]more. [G7]

[C]In a river [F]or the sea [C]you're as happy [F]as can be
[A7]just so [Dm7]long as the [G7]water's [C]warm
[C]Swimming threw the [F]ocean blue [C]looking for some [F]leaves to chew
there's [A7]no mis[Dm7]taking your cur[G7]vaceous [C]form.

CHORUS

BRIDGE 1:
[Dm7] The Atlantic is [G7]where you'll see [Dm7] the lovely [G7]manatee
[Em7]in the Pacific they [A7]don't belong
[Dm7] that's the home of their [G7]cousin the dulong.

[C]Boating is a [F]lot of fun, we [C]all enjoy the [F]waves and sun
there's [A7]just one [Dm7]thing I ask be[G7]fore you [C]go.
[C]Anywhere where [F]you could see a [C]gently grazing [F]manatee
[A7]do like [Dm7]they do take it [G7]nice and [C]slow.

CHORUS

BRIDGE 2:
[Dm7] When considering the [G7]family tree [Dm7] of the dulong and [G7]manatee
[Em7] no creature [A7]of the sea is as [Dm7]relevant
as their [G7]cousin the elephant.

CHORUS

[C7] [F]Manatee, [F#dim]Mana-tee-ee. [C]We need a [A7]plan you see
be[Dm7]fore there is no [G7]manatee, be[Em7]fore there is no [A7]manatee,
be[Dm7]fore there is no [G7]manatee no more. [C6]

      </p>

      <p class="mt-4 whitespace-pre" id="cp-output">
      </p>

    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
