<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <div class="float-right px-2 pb-1"><button id="scroll" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Scroll</button></div>
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <h1 class="mt-4 text-2xl font-bold">Space Cats</h1>

      <div class="pl-4 pt-1 pb-4 mt-4 mb-4 bg-gray-200 font-thin">

        <p class="mt-4">A lot of the chords are based on a basic blues pattern:</p>

        <p class="mt-4">
          [A] [A6] [A] [A6]
        </p>

        <p class="mt-4">
          Especially for the A and D chords at the beginning of each verse and the chorus.
        </p>
      </div>

      <p class="mt-4 whitespace-pre-wrap hidden" id="cp">
[A]Chasing laser pointers across the sky. [D]Wave one back and forth and watch ‘em fly!
[Fm]Will they tire? [D]No no no, [Bm7]come on space cats, [E]go go go.

CHORUS
[A]Space cats cruising through the milky way. [A]With their rocket packs on full display.
[Fm]Flying high and [D]flying low, [Bm7]come on space cats, [C]go go go. [E]Go go go!

[A]Frisky little kittens that can’t keep up, [D]stop to take a sip from the dipper’s cup.
[Fm]The little dipper’s fine, they [D]are not pigs. [Bm7]The other one they find is [E]much too big.

[A]They all respond to the call to arms to [D]chase the cosmic ball of yarn.
It’s [Fm]zigging and it’s zagging past [D]stars and moons, they [Bm7]know that they will [E]catch it soon.

CHORUS

BRIDGE
[DM7]Kitties that evolved for [AM7]zero (wee-ee) G are [Bm7]not like your [E9]average [AM7]cats
[DM7]How could these feline [C#m7]heroes be a[CM7]dapted to such [Bm7]habi[E]tats?

From [A]Proxima Centauri to Canis Majoris (Canis Majoris, doggyosaurus)
[D]all the kitties join in the galaxy chorus. (galaxy chorus, will they sing for us)
I [Fm]guess I never knew that [D]was a thing. [Bm7]No one ever told me that [E]cats could sing!

With [A]all of these colonies up on mars, they’re [D]really quite at home amongst the stars.
[Fm]Where to next? [D]No one knows.  [Bm7]Come on space cats, [E]go go go!

CHORUS *past the jurisdiction of the F.A.A.

[A]Using lunar rocks as scratching posts. [D]Looking for affection from their martian hosts.
Where[FM]ver they go [D]they make do, a [Bm7]space cat might just [C]live near you.
it [E]could be true!

[A]Space cats, space cats go go
Space cats, go go go x3


      </p>

      <p class="mt-4 whitespace-pre" id="cp-output">
      </p>

      <div class="px-2 pb-1" id="qrcode">
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
