<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-04-20</h1>

      <p class="mt-4">
        Good work on the C chord & getting your guitar in tune ahead of the
        lesson! I had fun today. Keep up the good work!
      </p>

      <h2 class="mt-4 text-1.5xl font-bold">Here's what's on our list:</h2>

      <ul class="list-disc m-4">
        <li>Country Roads intro, this is a great way to keep working in that C chord.</li>
        <li>Rebel Rouser, see below. Bend that F#, girl! 😆</li>
      </ul>

      <p class="mt-4">I'll email this to you and your mom & dad as well.</p>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/rebel-rouser.jpg" alt="" class="mt-4" />
      </div>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img
          src="../images/country-roads-intro-chord-patterns.jpg"
          alt=""
          class="mt-4"
        />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
