<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-06-02</h1>

      <ul class="list-disc m-4">
        <li>
          Keep working on Let It Be, that F chord is tricky but you're getting
          it!
        </li>
        <li>
          Work on the intro to Redemption Song. Remember that third note is just
          an ornament, you can skip it if you want.
        </li>
        <li>
          Listen to Redemption Song on our
          <a class="text-blue-500"
            href="https://open.spotify.com/playlist/1Dwgf8ZGkykmYujXxD873s?si=45138a4d53cf4378"
            >Spotify playlist</a
          >. Since you like Reggae, I'm sure you'll like this one too.
        </li>
        <li>
          If you are feeling bold, try the C# minor chord from Praise Jah. It's
          a bit of a stretch but you can do it!
        </li>
      </ul>

      <p class="mt-4">I'll email this to you and your mom & dad as well.</p>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/redemption-song-intro.jpg" alt="" class="mt-4" />
      </div>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/praise-jah.jpg" alt="" class="mt-4" />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
