<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-02-24</h1>

      <p class="mt-4">
        Hey, awesome lesson today! You’ve been practicing and it shows. Also
        emailing this to you and your mom & dad. Here are some things to work on
        for next week:
      </p>

      <h2 class="mt-4 text-1.5xl font-bold">To Do</h2>

      <ul class="list-disc m-4">
        <li>Keep practicing the chords and melody of the Artemis song. Sounded great today, let's keep it going!</li>
        <li>
          Practice the Me Duele notes, melody, and chords. The notes are just to
          help you learn the pattern, if you just work on that and the chords,
          that’s okay too.
        </li>
      </ul>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ORk2p_WgXTw?si=lmTpcYjfAcHjFkto"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/me-duele-notes-tab.jpg" alt="" class="mt-4" />
      </div>
      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/me-duele-melody-tab.jpg" alt="" class="mt-4" />
      </div>
      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/me-duele-chords.jpg" alt="" class="mt-4" />
      </div>
      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <h2 class="mt-4 text-1.5xl font-bold">Me Duele Strum Pattern</h2>
        <img src="../images/me-duele-strum.png" alt="" class="mt-4" />
      </div>
      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <h2 class="mt-4 text-1.5xl font-bold">Me Duele Melody</h2>
        <img src="../images/me-duele-melody.png" alt="" class="mt-4" />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/scripts.js"></script>
</html>
