<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-0">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-07-20</h1>

      <p class="mt-4">
        Great work today! It was a lot of fun playing Country Roads with you and
        your mom. You have some momentum going now, so let's keep it up!
      </p>

      <ul class="list-disc m-4">
        <li>
          I've recorded videos of the first verse and chorus of Country Roads.
          Try playing along, capo on the second fret. Keep that strumming
          pattern going, and try it with your mom on vocals! You could even try
          moving the capo around to see if there's a key she likes better.
        </li>
        <li>Let's try Forrest Gump!</li>
      </ul>

      <p class="mt-4 mb-6">
        I'll email this to you and your mom & dad as well.
      </p>

      <iframe
        width="560"
        height="315"
        class="mx-4 my-8 p-1"
        src="https://www.youtube.com/embed/bHVYvu7UiL0?si=YjR5enOmawpC3Yo1"
        title="Country Roads Verse 1"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

      <iframe
        width="560"
        height="315"
        class="mx-4 my-8 p-1"
        src="https://www.youtube.com/embed/htY5OrElJW0?si=B4l6vAIEB8nc1ys0"
        title="Country Roads Chorus"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

      <div
        class="box-border mb-4 mx-1 p-2 border-4 rounded-lg text-center mt-8"
      >
        <img src="../images/forrest-gump.png" alt="" class="mt-4" />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
