<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-0">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-08-10</h1>

      <p class="mt-4">
        Fun lesson on Saturday! Keep it up with Country Roads. I'd love to hear you sign it sometime!
      </p>

      <ul class="list-disc m-4">
        <li>
          Work on playing the G chord with the 3rd (ring) finger on the low E string.
          It's a bit of a stretch, but it will help you with other chords. See if
          you can get all the way through Country Roads with the G chord like that.
        </li>
        <li>
          If you need some fun to break things up, try out the snippets from Doo-Wop and Higher below.
        </li>
      </ul>

      <p class="mt-4 mb-6">
        I'll email this to you and your mom & dad as well.
      </p>

      <div
        class="box-border mb-4 mx-1 p-2 border-4 rounded-lg text-center mt-8"
      >
        <img src="../images/doo-wop.png" alt="" class="mt-4" />
      </div>

      <div
        class="box-border mb-4 mx-1 p-2 border-4 rounded-lg text-center mt-8"
      >
        <img src="../images/higher-tems.png" alt="" class="mt-4" />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
