<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-03-02</h1>

      <p class="mt-4">
        Nice work this week! I really enjoyed playing the Artemis song with you.
        Keep shopping around for a better foot stand... maybe get a cat? 😆
      </p>

      <p class="mt-4">
        Here are some things to work on for next week. I'll email this to you
        and your mom & dad.
      </p>

      <h2 class="mt-4 text-1.5xl font-bold">To do:</h2>

      <ul class="list-disc m-4">
        <li>Practice the chords of Unnamed Song #1</li>
        <li>Practice the melody of Unnamed Song #1</li>
      </ul>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/untitled_song_1_chords.jpg" alt="" class="mt-4" />
      </div>
      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/untitled_song_1_melody.jpg" alt="" class="mt-4" />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
