<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-04-28</h1>

      <p class="mt-4">
        Really great work this week. I was very impressed with the progress
        you've made. Getting that F chord working opens the door to barre chords
        and many a new world of songs! For next week:
      </p>

      <ul class="list-disc m-4">
        <li>
          Keep playing Rebel Rouser. Sing that little sax melody in your head
          between each segment of the melody, that will help you keep it in
          time. If you are feeling adventurous, try playing along with the
          recording. It's a little faster than we've been playing it, but you
          can do it!
        </li>
        <li>
          Keep playing through Country Roads. If you want to play along with
          that, your going to need to pick up a capo. I really like the Shubb
          that's around $20 and available on
          <a
            href="https://www.sweetwater.com/store/detail/ShubbS1--shubb-s1-deluxe-capo-for-steel-string"
            >Sweetwater</a
          >
          and many other places, but there are many good ones.
        </li>
      </ul>

      <p class="mt-4">I'll email this to you and your mom & dad as well.</p>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/d7-open.jpg" alt="" class="mt-4" />
      </div>
      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/country-roads-chords.jpg" alt="" class="mt-4" />
      </div>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/b7-open.jpg" alt="" class="mt-4" />
      </div>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/rebel-rouser-chords.jpg" alt="" class="mt-4" />
      </div>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/major-minor-chords.jpg" alt="" class="mt-4" />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
