<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-0">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-09-07</h1>

          <p class="mt-4">
        Let's work on Hallelujah some more today! It's a beautiful song.
      </p>

      <ul class="list-disc m-4">
        <li>
          Try listening to some different versions of the song.
          The original by Leonard Cohen is a little strange but worth a listen.
          You probably know the Rufus Wainwright version from Shrek.
          The Jeff Buckley version is amazing. Each one has a different feel,
          and some different chords. This is mostly like the Rufus Wainwright version.
        </li>
        <li>
          Let's try out Forrest Gump again, see the separate sheet.
        </li>
      </ul>

      <p class="mt-4 mb-6">
        I'll email this to you and your mom & dad as well.
      </p>

      <h1 class="mt-4 text-2xl font-bold">Hallelujah</h1>
      <p class="mb-0 italic">Words and music by Leonard Cohen</p>


      <p class="mt-0 whitespace-pre-wrap hidden" id="cp">
I've [C]heard there was a [Am]secret chord
That [C]David played, and it [Am]pleased the Lord
But [F]you don't really [G]care for music, [C]do you? [G]
It [C]goes like this, the [F]fourth, the [G]fifth
The [Am]minor fall, the [F]major lift
The [G]baffled king com[E]posing [Am]Hallelujah

Halle[F]lujah, Halle[Am]lujah
Halle[F]lujah, Halle[C]lu-[G]u-[C]jah [G]
    </p>
    <p class="mt-4 whitespace-pre" id="cp-output"></p>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
