<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-4">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-07-14</h1>

      <p class="mt-4">Great lesson yesterday!</p>

      <p class="mt-4 font-bold">
        It would really be great if you could buy a capo so you can play along
        with the Country Road recording. I really like the Shubb that's around
        $20 and available on
        <a
          class="text-blue-500"
          href="https://www.sweetwater.com/store/detail/ShubbS1--shubb-s1-deluxe-capo-for-steel-string"
          >Sweetwater</a
        >
        and many other places, but there are many good ones.
      </p>

      <p class="mt-4">
        I really enjoyed playing Country Roads with you. Just playing the a
        chord once each time it changes is great for giving you a chance to
        focus on the left hand. And keep trying those strumming patterns!
      </p>

      <p class="mt-4">For next week:</p>

      <ul class="list-disc m-4">
        <li>
          Keep working on Low Battery. I created a video that should help.
        </li>
        <li>
          Keep practicing the strumming pattern on Country Roads. If you get a
          capo, you can play along with the original recording, just put it on
          the 2nd fret.
        </li>
      </ul>

      <p class="mt-4 mb-6">I'll email this to you and your mom & dad as well.</p>

      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/38AM2ikX2Xg?si=PrCM7-1ZeveLCWZC"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>

      <div class="box-border mb-4 mx-1 p-4 border-4 rounded-lg text-center mt-8">
        <img src="../images/low-battery.jpg" alt="" class="mt-4" />
      </div>

      <div class="box-border my-4 mx-1 p-4 border-4 rounded-lg text-center">
        <img src="../images/low-battery-p2.jpg" alt="" class="mt-4" />
      </div>
    </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
