<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-0">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">2024-10-24</h1>

          <p class="mt-4">
            Here's the music for You'll Be Back that I owe you! It's not the WHOLE thing, but it's plenty to get started on.
            Playing the Cm barre chord is a big step! I was so impressed with how you played it at the lesson.
            Barre chords open up a whole new world of songs for you to play. I'm excited to see how you do with this one.
          </p>

      <h1 class="mt-4 text-2xl font-bold">You'll Be Back</h1>
      <p class="mb-0 italic">Words and music by Lin-Manuel Miranda</p>

      <p class="mt-0 whitespace-pre-wrap hidden" id="cp">
You [G]say the [G7]price of my love's not a [C]price that you're willing to [Am7]pay
[D] You [G]cry in your [G7]tea which you hurl in the [C]sea when you see me go [Am7]by
[D]why so [Em]sad? Re[D]member we made an [C]arrangement when you [Am7]went away
Now you're [D]making me [Em]mad Re[D]member despite our [C]estrangement, I'm your [D]man

You'll be [G]back, soon you'll [G7]see. You'll re[C]member you be[Am7]long to me
[D]You'll be [G]back, time will [G7]tell. You'll re[C]member that I served you [Am7]well
[D]ocean's [Em]rise, empires [G]fall. We have [C]seen each other through it [Cm]all
And when [Em]push comes to [G]shove
I will [C]send a fully armed bat[Dsus4]talion to re[D]mind you of my [G]love
    </p>
    <p class="mt-4 whitespace-pre" id="cp-output"></p>

    <h2 class="mt-8 mb-8 text-xl font-bold">Chords for You'll Be Back</h2>

          <div class="flex flex-wrap justify-center"></div>
        <div class="w-full sm:w-1/4 md:w-1/6 lg:w-1/8 max-w-xs text-center">
          <p class="font-bold">Cm</p>
          <img src="/images/cm-3rd-fret.svg" alt="Cm chord at the 3rd fret" class="w-full" />
        </div>
        <div class="w-full sm:w-1/4 md:w-1/6 lg:w-1/8 max-w-xs text-center">
          <p class="font-bold">G7</p>
          <img src="/images/g7-open.svg" alt="G7 chord open" class="w-full" />
        </div>
      </div>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
