<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-0">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">Hallelujah</h1>
      <p class="mb-0 italic">Words and music by Leonard Cohen</p>

<img src="../images/hallelujah-d-b7.jpg" alt="Hallelujah chords D B7" class="mt-4 sm:w-1/4" />

      <p class="mt-0 whitespace-pre-wrap hidden" id="cp">

[G]6 3 2 1 2 3 [Em]6 3 2 1 2 3 [G]6 3 2 1 2 3 [Em]6 3 2 1 2 3
[C]5 3 2 1 2 3 [D]4 3 2 1 2 3 [G]6 3 2 1 2 3 [D]4 3 2 1 2 3
[G]6 3 2 1 2 3 [C]5 3 (21) [D]4 3 (21) [Em]6 3 2 1 2 3 [C]5 3 2 1 2 3
[D]4 3 2 1 2 3 [B7]4 3 2 1 2 3 [Em]4 3 2 1 2 3 [Em]6 3 2 1 2 3
[C]5 3 2 1 2 3 [C]4 3 2 1 2 3 [Em]6 3 2 1 2 3 [Em]4 3 2 1 2 3
[C]5 3 2 1 2 3 [C]4 3 2 1 2 3 [G]6 3 2 1 2 3 [D]4 3 2 1 2 3
[G]6 3 2 1 2 3 [D]4 3 2 1 2 3
      </p>
      <p class="mt-4 whitespace-pre" id="cp-output"></p>
    </p>
    <p class="mt-4 whitespace-pre" id="cp-output"></p>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
