<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mx-auto px-0">
      <p class="mt-4">
        <a class="text-blue-500" href="index.html">Back to index</a>
      </p>
      <div class="float-right px-2 pb-1" id="qrcode"></div>
      <h1 class="mt-4 text-2xl font-bold">You'll Be Back</h1>
      <p class="mb-0 italic">Words and music by Lin-Manuel Miranda</p>

      <p class="mt-0 whitespace-pre-wrap hidden" id="cp">
You [G]say the [G7]price of my love's not a [C]price that you're willing to [Am7]pay
[D] You [G]cry in your [G7]tea which you hurl in the [C]sea when you see me go [Am7]by
[D]why so [Em]sad? Re[D]member we made an [C]arrangement when you [Am7]went away
Now you're [D]making me [Em]mad Re[D]member despite our [C]estrangement, I'm your [D]man

You'll be [G]back, soon you'll [G7]see. You'll re[C]member you be[Am7]long to me
[D]You'll be [G]back, time will [G7]tell. You'll re[C]member that I served you [Am7]well
[D]ocean's [Em]rise, empires [G]fall. We have [C]seen each other through it [Cm]all
And when [Em]push comes to [G]shove
I will [C]send a fully armed bat[Dsus4]talion to re[D]mind you of my [G]love

La da da da [G7]da, la da da da [C]da da da da[Cm] da da da da[G]
La da da da [G7]da, la da da da [C]da da da da[Cm] da da da da[G]

You say our [Em]love is [G]draining and you can't go [C]on [Cm]
You'll be the [Em]one com[G]plaining when I am [C]gone [Cm]
And [Am7]no, don't change the subject [D7] 'Cause [Am7]you're my favorite subject [D7]
My [F]sweet, submissive sub[C]ject, My [F]loyal, royal sub[C]ject,
For[G]ever, and [G7]ever, and [Cm]ever, and ever, and ever

You'll be [G]back like be[G7]fore. I will [C]fight the fight and win the [Am7]war
[D] For your [G]love, for your [G7]praise. And I'll [C]love you till my dying [Am7]days
[D] When you're [Em]gone, I'll go [G]mad. So don't [C]throw away this thing we [Cm]had
'Cause when [Em]push comes to [G]shove, I will kill your [C]friends and family
to re[Dsus4]mind you [D]of my [G]love

La da da da [G7]da, la da da da [C]da da da da[Cm] da da da da[G]...
      </p>
      <p class="mt-4 whitespace-pre" id="cp-output"></p>
    </p>
    <p class="mt-4 whitespace-pre" id="cp-output"></p>
  </body>
  <script src="../js/qrcode.min.js"></script>
  <script src="../js/bundle.js"></script>
</html>
