@tailwind base;
@tailwind components;
@tailwind utilities;


.jschordpro-row {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.jschordpro-verse {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

@keyframes pulsate {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
